/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --background-color: #ffffff;
  --text-color: #333333;
  --button-color: #ff9800;
  --success-color: #4caf50;
  --error-color: #f44336;
  --light-gray: #f1f1f1;
}

