<div class="dashboard">
  <!-- Sidebar (Fixed) -->
  <div class="sidebar">
    <div class="sidebar-header">
      <img
        src="logo.png"
        alt="Company Logo : worker emoji "
        class="logo"
        aria-hidden="false"
      />
      <p>ProNeighbor App</p>
    </div>
    <ul>
      <li>
        <button
          [routerLink]="'UserProfile'"
          routerLinkActive="active"
          aria-current="page"
        >
          Profile
        </button>
      </li>
      <li>
        <button
          [routerLink]="'chat'"
          routerLinkActive="active"
          aria-current="page"
        >
          Chat Dashboard
        </button>
      </li>
      <li>
        <button
          [routerLink]="'ServiceList/All'"
          routerLinkActive="active"
          aria-current="page"
        >
          All Services
        </button>
      </li>

      <!-- User-specific links -->
      @if (userRole === "USER") {
        <ng-container>
          <li>
            <button
              [routerLink]="'ReviewForm'"
              routerLinkActive="active"
              aria-current="page"
            >
              Add Review
            </button>
          </li>
        </ng-container>
      }

      <!-- Provider-specific links -->
      @if (userRole === "provider") {
        <li>
          <button
            [routerLink]="['ServiceList', userId]"
            routerLinkActive="active"
            aria-current="page"
          >
            My Services
          </button>
        </li>
        <ng-container>
          <li>
            <button
              [routerLink]="'CreateService'"
              routerLinkActive="active"
              aria-current="page"
            >
              Add Service
            </button>
          </li>
        </ng-container>
      }
      <li>
        <button
          [routerLink]="'faq'"
          routerLinkActive="active"
          aria-current="page"
        >
          Q&A
        </button>
      </li>
      <li>
        <button
          style="background-color: red"
          (click)="logout()"
          aria-label="Logout"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>

  <!-- Main Content Area -->
  <div class="content">
    <div class="breadcrumb">
      <span>Dashboard</span> > <span>{{ pageTitle }}</span>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
