USE [ProNeighbor2]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 07/03/2025 01:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[receiver_id] [uniqueidentifier] NOT NULL,
	[booking_date] [datetime] NOT NULL,
	[status_id] [varchar](16) NOT NULL,
	[created_at] [datetime] NULL,
	[duration] [int] NOT NULL,
 CONSTRAINT [PK__bookings__3213E83F48B7E99E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__categori__3213E83F543D1088] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_participants]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_participants](
	[chat_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_chat_participants] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chats]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chats](
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NULL,
	[created_at] [datetime] NULL,
	[is_group] [bit] NULL,
	[chatName] [nvarchar](255) NULL,
 CONSTRAINT [PK__chats__3213E83FA05F9F0B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_status]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_status](
	[status] [varchar](16) NOT NULL,
 CONSTRAINT [PK_message_status] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[chat_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[status] [varchar](16) NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC,
	[user_id] ASC,
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
	[user_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK__reviews__3213E83FEFA5C240] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role] [varchar](16) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [uniqueidentifier] NOT NULL,
	[provider_id] [uniqueidentifier] NOT NULL,
	[category] [varchar](50) NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[location] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__services__3213E83F00B7C1BE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[status] [varchar](16) NOT NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07/03/2025 01:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[hashed_password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[roles] [varchar](16) NULL,
 CONSTRAINT [PK__users__3213E83F5B938BF2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categories] ([name]) VALUES (N'Accountant')
INSERT [dbo].[categories] ([name]) VALUES (N'Acting Coach')
INSERT [dbo].[categories] ([name]) VALUES (N'Acupuncturist')
GO
INSERT [dbo].[chat_participants] ([chat_id], [user_id]) VALUES (N'33062c44-c1fe-4c07-b269-00c0f1feddf6', N'952b94b5-92ac-4594-b5c5-cd32b069e725')
INSERT [dbo].[chat_participants] ([chat_id], [user_id]) VALUES (N'9fb39cf5-7cda-4171-913b-18559137a4ce', N'e52a9026-b49c-4f3f-9c4c-88546d225342')
INSERT [dbo].[chat_participants] ([chat_id], [user_id]) VALUES (N'9fb39cf5-7cda-4171-913b-18559137a4ce', N'952b94b5-92ac-4594-b5c5-cd32b069e725')
GO
INSERT [dbo].[chats] ([id], [created_by], [service_id], [created_at], [is_group], [chatName]) VALUES (N'33062c44-c1fe-4c07-b269-00c0f1feddf6', N'952b94b5-92ac-4594-b5c5-cd32b069e725', NULL, CAST(N'2025-03-05T23:31:33.237' AS DateTime), 0, N'chat')
INSERT [dbo].[chats] ([id], [created_by], [service_id], [created_at], [is_group], [chatName]) VALUES (N'9fb39cf5-7cda-4171-913b-18559137a4ce', N'952b94b5-92ac-4594-b5c5-cd32b069e725', NULL, CAST(N'2025-02-24T12:59:46.517' AS DateTime), 0, N'eric ')
INSERT [dbo].[chats] ([id], [created_by], [service_id], [created_at], [is_group], [chatName]) VALUES (N'69d96888-fe53-4158-a151-1b4b0e3371ff', N'952b94b5-92ac-4594-b5c5-cd32b069e725', NULL, CAST(N'2025-02-22T10:56:21.117' AS DateTime), 0, N'xevi')
GO
INSERT [dbo].[messages] ([chat_id], [user_id], [message], [timestamp], [status]) VALUES (N'33062c44-c1fe-4c07-b269-00c0f1feddf6', N'952b94b5-92ac-4594-b5c5-cd32b069e725', N'test ', CAST(N'2025-03-05T23:34:42.863' AS DateTime), NULL)
INSERT [dbo].[messages] ([chat_id], [user_id], [message], [timestamp], [status]) VALUES (N'69d96888-fe53-4158-a151-1b4b0e3371ff', N'952b94b5-92ac-4594-b5c5-cd32b069e725', N'hola', CAST(N'2025-02-22T10:56:30.473' AS DateTime), NULL)
INSERT [dbo].[messages] ([chat_id], [user_id], [message], [timestamp], [status]) VALUES (N'fd7f3589-343b-4b75-a25b-25b17a3acb6d', N'952b94b5-92ac-4594-b5c5-cd32b069e725', N'HELLO ', CAST(N'2025-03-04T22:04:47.770' AS DateTime), NULL)
GO
INSERT [dbo].[reviews] ([id], [service_id], [rating], [comment], [created_at], [user_id]) VALUES (N'083bbaaf-e59f-4b8f-957e-2218221a9db4', N'355aa8a9-5856-4d1c-9a3f-25469a37a322', 5, N'goood ', CAST(N'2025-02-21T19:13:35.430' AS DateTime), N'952b94b5-92ac-4594-b5c5-cd32b069e725')
INSERT [dbo].[reviews] ([id], [service_id], [rating], [comment], [created_at], [user_id]) VALUES (N'2fbb275a-d8e8-46b7-82c2-61ac30f4ad99', N'1b0c31c6-5500-4cbb-81ae-ff11ce0aeae8', 2, N' bueno   nil  - TFO', CAST(N'2025-02-20T16:27:42.433' AS DateTime), N'952b94b5-92ac-4594-b5c5-cd32b069e725')
INSERT [dbo].[reviews] ([id], [service_id], [rating], [comment], [created_at], [user_id]) VALUES (N'280d310c-3e1d-4088-a014-63173ec87026', N'b8ab6636-ae5a-4c2d-acae-54f9011f0e00', 1, N'sdfdsf', CAST(N'2025-02-20T18:39:25.310' AS DateTime), N'952b94b5-92ac-4594-b5c5-cd32b069e725')
GO
INSERT [dbo].[roles] ([role]) VALUES (N'customer')
INSERT [dbo].[roles] ([role]) VALUES (N'provider')
GO
INSERT [dbo].[services] ([id], [provider_id], [category], [name], [price], [description], [location], [created_at]) VALUES (N'db6c9552-fcbc-43fd-885a-1c03ecc1ad2b', N'bfb2fdf9-07ff-4360-be9e-222c2eaa4aed', N'Astrologer', N'IT''S NIL SERVICE', CAST(3.00 AS Decimal(10, 2)), N'NIL', N'NIL', CAST(N'2025-02-22T10:17:43.630' AS DateTime))
INSERT [dbo].[services] ([id], [provider_id], [category], [name], [price], [description], [location], [created_at]) VALUES (N'355aa8a9-5856-4d1c-9a3f-25469a37a322', N'952b94b5-92ac-4594-b5c5-cd32b069e725', N'Cleaner', N'tim', CAST(20.00 AS Decimal(10, 2)), N'third ', N'girona', CAST(N'2025-02-20T16:14:27.157' AS DateTime))
INSERT [dbo].[services] ([id], [provider_id], [category], [name], [price], [description], [location], [created_at]) VALUES (N'4c1fdbcd-c4cb-43c0-b19a-2c740a4021e4', N'bfb2fdf9-07ff-4360-be9e-222c2eaa4aed', N'DJ', N'DJ NIL ', CAST(100.00 AS Decimal(10, 2)), N'per todas les festes , stek stek  ', N'olot ', CAST(N'2025-02-17T18:30:40.193' AS DateTime))
GO
INSERT [dbo].[users] ([id], [name], [email], [hashed_password], [phone], [address], [created_at], [roles]) VALUES (N'b5f48bf7-a148-47ee-9704-083d1ff0deb2', N'test', N'newtest@gmail.com', N'$2b$10$OdUTVbYNm2KVKi4m9XdO0eupmdM0fB8tFRaLKV3ZMLVNSqhU.xkWe', NULL, NULL, CAST(N'2025-03-05T22:05:58.463' AS DateTime), N'customer')
INSERT [dbo].[users] ([id], [name], [email], [hashed_password], [phone], [address], [created_at], [roles]) VALUES (N'b4298d8d-368e-497a-8050-213d0813ff1f', N'revisio', N'revisio@gmail.com', N'$2b$10$AgymZcMp8Y7XIHh6YI42FuPHcsYewUVqG8mBooFeQcS2W6ciqFCkC', NULL, NULL, CAST(N'2025-02-25T19:03:22.123' AS DateTime), N'provider')
INSERT [dbo].[users] ([id], [name], [email], [hashed_password], [phone], [address], [created_at], [roles]) VALUES (N'bfb2fdf9-07ff-4360-be9e-222c2eaa4aed', N'nil', N'nil@gmail.com', N'$2b$10$mvgR5FPLL6JcT7MN3Ht1Z.IBvMJyEHj06mcTkzOcN6PHeYqUljHN6', NULL, NULL, CAST(N'2025-02-14T16:41:35.383' AS DateTime), N'provider')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1B76A54952]    Script Date: 07/03/2025 01:31:47 ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UQ__categori__72E12F1B76A54952] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_provider_name]    Script Date: 07/03/2025 01:31:47 ******/
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [UQ_provider_name] UNIQUE NONCLUSTERED 
(
	[provider_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61645994E1C1]    Script Date: 07/03/2025 01:31:47 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__AB6E61645994E1C1] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookings] ADD  CONSTRAINT [DF__bookings__id__5BE2A6F2]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[bookings] ADD  CONSTRAINT [DF__bookings__create__5CD6CB2B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chats] ADD  CONSTRAINT [DF__chats__id__6E01572D]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[chats] ADD  CONSTRAINT [DF__chats__created_a__6EF57B66]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chats] ADD  CONSTRAINT [DF__chats__is_group__10566F31]  DEFAULT ((0)) FOR [is_group]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DF__messages__timest__7C4F7684]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [DF__reviews__id__4CA06362]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [DF__reviews__created__4E88ABD4]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [DF__services__id__45F365D3]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [DF__services__create__47DBAE45]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__id__3D5E1FD2]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__created_a__3E52440B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK__bookings__receiv__5EBF139D] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK__bookings__receiv__5EBF139D]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK__bookings__servic__5DCAEF64] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK__bookings__servic__5DCAEF64]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([status])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_status]
GO
ALTER TABLE [dbo].[chat_participants]  WITH CHECK ADD  CONSTRAINT [FK__chat_part__user___04E4BC85] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_participants] CHECK CONSTRAINT [FK__chat_part__user___04E4BC85]
GO
ALTER TABLE [dbo].[chat_participants]  WITH CHECK ADD  CONSTRAINT [FK_chat_participants_chats] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chats] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_participants] CHECK CONSTRAINT [FK_chat_participants_chats]
GO
ALTER TABLE [dbo].[chats]  WITH CHECK ADD  CONSTRAINT [FK__chats__service_i__70DDC3D8] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chats] CHECK CONSTRAINT [FK__chats__service_i__70DDC3D8]
GO
ALTER TABLE [dbo].[chats]  WITH CHECK ADD  CONSTRAINT [FK_Creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chats] CHECK CONSTRAINT [FK_Creator]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_chat_participants] FOREIGN KEY([chat_id], [user_id])
REFERENCES [dbo].[chat_participants] ([chat_id], [user_id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_chat_participants]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_chats] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chats] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_chats]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_message_status] FOREIGN KEY([status])
REFERENCES [dbo].[message_status] ([status])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_message_status]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK__reviews__service__4F7CD00D] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK__reviews__service__4F7CD00D]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK__services__provid__48CFD27E] FOREIGN KEY([provider_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK__services__provid__48CFD27E]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_categories] FOREIGN KEY([category])
REFERENCES [dbo].[categories] ([name])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_categories]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([roles])
REFERENCES [dbo].[roles] ([role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [CK__reviews__rating__4D94879B] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [CK__reviews__rating__4D94879B]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [CK__roles__role__38996AB5] CHECK  (([role]='customer' OR [role]='provider'))
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [CK__roles__role__38996AB5]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [CK__services__price__46E78A0C] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [CK__services__price__46E78A0C]
GO
ALTER TABLE [dbo].[status]  WITH CHECK ADD  CONSTRAINT [CK__status__status__534D60F1] CHECK  (([status]='declined' OR [status]='pending' OR [status]='confirmed'))
GO
ALTER TABLE [dbo].[status] CHECK CONSTRAINT [CK__status__status__534D60F1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'creator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'chats', @level2type=N'CONSTRAINT',@level2name=N'FK_Creator'
GO
