<div class="dashboard">
  <!-- Sidebar (Fixed) -->
  <div class="sidebar">
    <ul>
      <li>
        <button
          [routerLink]="'UserProfile'"
          routerLinkActive="active"
          aria-current="page"
        >
          Profile
        </button>
      </li>
      <li>
        <button
          [routerLink]="'chat'"
          routerLinkActive="active"
          aria-current="page"
        >
          Chat Dashboard
        </button>
      </li>
      <li>
        <button
          [routerLink]="'ServiceList/All'"
          routerLinkActive="active"
          aria-current="page"
        >
          All Services
        </button>
      </li>

      <!-- User-specific links -->
      @if (userRole === 'USER') {
      <ng-container>
        <li>
          <button
            [routerLink]="'userArea'"
            routerLinkActive="active"
            aria-current="page"
          >
            User Dashboard
          </button>
        </li>
        <li>
          <button
            [routerLink]="'ReviewForm'"
            routerLinkActive="active"
            aria-current="page"
          >
            Add Review
          </button>
        </li>
      </ng-container>
      }

      <!-- Provider-specific links -->
      @if (userRole === 'provider') {
      <li>
        <button
          [routerLink]="['ServiceList', userId]"
          routerLinkActive="active"
          aria-current="page"
        >
          My Services
        </button>
      </li>
      <ng-container>
        <li>
          <button
            [routerLink]="'providerArea'"
            routerLinkActive="active"
            aria-current="page"
          >
            Provider Dashboard
          </button>
        </li>
        <li>
          <button
            [routerLink]="'CreateService'"
            routerLinkActive="active"
            aria-current="page"
          >
            Add Service
          </button>
        </li>
      </ng-container>
      }
    </ul>
  </div>

  <!-- Main Content Area -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
