<fieldset>
  <legend>User Profile</legend>

  <!-- Name Field -->
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [value]="user?.name"
      [readonly]="!isEditMode"
      aria-required="true"
      aria-invalid="false"
      aria-describedby="name-error"
      #nameInput
    />
    <span id="name-error" class="error" aria-live="polite"></span>
  </div>

  <!-- Email Field -->
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [value]="user?.email"
      [readonly]="!isEditMode"
      aria-required="true"
      aria-invalid="false"
      aria-describedby="email-error"
      #emailInput
    />
    <span id="email-error" class="error" aria-live="polite"></span>
  </div>

  <!-- Phone Field -->
  <div>
    <label for="phone">Phone:</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      [value]="user?.phone"
      [readonly]="!isEditMode"
      aria-describedby="phone-error"
      #phoneInput
    />
    <span id="phone-error" class="error" aria-live="polite"></span>
  </div>

  <!-- Address Field -->
  <div>
    <label for="address">Address:</label>
    <input
      type="text"
      id="address"
      name="address"
      [value]="user?.address"
      [readonly]="!isEditMode"
      aria-describedby="address-error"
      #addressInput
    />
    <span id="address-error" class="error" aria-live="polite"></span>
  </div>

  <!-- fora @if (isProvider ) { dins
  <div>
    <h3>Services</h3>
    <ul>
     
      @for (service of services; track service.getId()) {
      <li>
        {{ service.getName() }} - {{ service.getPrice() }} -
        {{ service.getLocation() }}
      </li>
      }
    </ul>
  </div>

  }
 -->

  <!-- Modify Profile Button -->
  <div>
    @if(!isEditMode){
    <button (click)="enableEditMode()">Modify Profile</button>
    } @if(isEditMode){
    <button (click)="saveChanges()">Save Changes</button>
    <button (click)="cancelEdit()">Cancel</button>
    }
  </div>

  <!-- Error Message -->
  <div role="alert" class="error" id="form-error" aria-live="polite"></div>
</fieldset>

<!-- Member Since -->
<div><strong>Member since:</strong> {{ user?.formattedMemberSince }}</div>
