<div>
    <h2>Select Participants (Max 3)</h2>
  
    @for(user of users; track user ){
    <div>
      <input
        type="checkbox"
        [checked]="selectedUserIds.includes(user.id)"
        (change)="toggleUserSelection(user.id)"
        [disabled]="
          !selectedUserIds.includes(user.id) && selectedUserIds.length >= 3
        "
      />
      {{ user.email }}
    </div>
    }
  
    <br />
    <button (click)="AddParticipant()" [disabled]="selectedUserIds.length === 0">
      Add to chat
    </button>
  </div>
  